@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .param-div {
        @apply flex md:gap-10 gap-8 max-[620px]:gap-6 rounded-md p-2 text-center justify-between items-center max-[360px]:gap-1
    }
    .value {
        @apply bg-white w-28 py-1 font-OpenSans font-medium border rounded-full;
    }
    .parameter {
        @apply bg-[#A8E6CF] border md:w-64 font-Montserrat w-56 font-semibold py-2 rounded-full 2xl:py-4 cursor-pointer;
    }
    .parameter1 {
        @apply bg-[#FF8B94] border md:w-64 font-Montserrat w-56 font-semibold py-2 rounded-full 2xl:py-4 cursor-pointer;
    }
  }